1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

2. Import the dataset from this address.
3. Assign it to a variable called iris

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url)

4. Create columns for the dataset

In [ ]:
iris.columns = ['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class']

5. Is there any missing value in the dataframe?

In [ ]:
pd.isnull(iris).sum()

6. Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [ ]:
iris.iloc[10:30,2:3] = np.nan

7. Good, now lets substitute the NaN values to 1.0

In [ ]:
iris.petal_length.fillna(1, inplace = True)

8. Now let's delete the column class

In [ ]:
del iris['class']

9. Set the first 3 rows as NaN

In [ ]:
iris.iloc[0:3 ,:] = np.nan

10. Delete the rows that have NaN

In [ ]:
iris = iris.dropna(how='any')

11. Reset the index so it begins with 0 again

In [ ]:
iris = iris.reset_index(drop = True)